* {
    margin: 0;
    padding: 0;
}

.negrita {
    font-weight: bolder;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 175%;
    padding: 5px;
}

h1 {
    background-color: rgb(179, 179, 179);
}

.parrafo {
    background-color: rgb(204, 204, 204);
}

.amarillo {
    background-color: rgb(255, 255, 154);
}

.col {
    margin: 10px;
    border: rgb(185, 173, 137) solid 1px;
    padding: 20px;
    vertical-align: top;
}

@media only screen and (max-width: 480px) {
    .sm1 {
        display: block;
    }
    .med1 {
        display: none;
    }
    .lg1 {
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    .med1 {
        display: block;
    }
    .sm1 {
        display: none;
    }
    .lg1 {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .lg1 {
        display: block;
    }
    .sm1 {
        display: none;
    }
    .med1 {
        display: none;
    }
}